
input{
    
    width: 0;
    height: 0;
    visibility: hidden;
    
}
.theme-switcher label{
    position: relative;
    cursor: pointer;
    content: '';
    display: block;
    text-indent: -99999px;
    height: 30px;
    width: 60px;
    background-color: rgb(0, 153, 255);
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 1em;
    transition: .2s ease background-color;
   
}
.theme-switcher  label::after{
    
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #000;
    background-image: url('./sol.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    top: 10%;
    left: 100%;
    transform: translate(-130%);
    transition: .5s ease;
    
}
.theme-switcher  input:checked + label{
    
    background-color: #000;
    border: 3px solid white;
    
    background-size: auto;
    
}
.theme-switcher  input:checked +label::after{
    background-color: transparent;
    
    background-image: url('./lua-crescente.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    left: calc(59% );
} 
@media(max-width:784px){
    .theme-switcher label::after{
        top: 10.4%;
        left: 100%;
    }
    .theme-switcher input:checked +label::after{
        left: calc(54% );
    }


}