
input{
    
    width: 0;
    height: 0;
    visibility: hidden;
    
}
label{
    position: relative;
    cursor: pointer;
    content: '';
    display: block;
    text-indent: -99999px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-left: 1em;
    transition: .2s ease background-color;
   
}
label::after{
    margin-left: 1em;
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50px;
    
    background-image: url('./sol.png');
    background-repeat: no-repeat;
    
    background-size: contain;
    top: 10%;
    left: 115%;
    transform: translate(-130%);
    transition: .5s ease;
    
}
input:checked + label{
    
    
    
    
    background-size: auto;
    
}
input:checked +label::after{
    background-color: transparent;
    
    background-image: url('./forma-de-meia-lua.png');
    background-repeat: no-repeat;
    
    background-size: contain;
    left: calc(115% );
} 
@media(max-width:784px){
    label::after{
        top: 10.4%;
        left: 100%;
    }
    input:checked +label::after{
        left: calc(54% );
    }


}