input{
    
    width: 0;
    height: 0;
    visibility: hidden;
    
}
label{
    cursor: pointer;
    display: block;
    text-indent: -99999px;
    height: 30px;
    width: 60px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 50px;
    margin-left: 1em;
    transition: .2s ease background-color;
}
label::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #000;
    top: 32.4%;
    left: 67.7%;
    transform: translate(-130%);
    transition: .5s ease;
}
input:checked + label{
    
    background-color: #000;
    border: 3px solid white;
    
}
input:checked +label::after{
    background-color: aliceblue;

    left: calc(65% );
} 